CLUSTER_NAME={{ cluster_name }}
UP_LINK={{up_link}}
OSPF_AREA={{ospf_area}}
OSPF_VIP={{ospf_vip}}
OSPF_ROUTE_FILTER={{ospf_route_filter}}
ETCD_ENDPOINTS={{etcd_endpoints}}
SUBNAME={{subnet_name}}
PORT_BASE={{port}}
INCOMM_CIDR={{incomm_cidr}}
